<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="create content">
            <form action="/languages/<%= locals.theId %>?_method=PUT" method="POST">
                <label>Replace Language:
                    <input type="text" id="<%= locals.theId %>" name="language" value="<%= locals.theLanguage %>" required>
                </label>
                <button>PUT</button>
            </form>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>